.mentor--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  width: 25%;
  margin-left: 1rem;
  background: rgba(223, 223, 223, 0.07);
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  margin-bottom: 60px;
}

.mentor--image {
  width: 360px;
}

.mentor--name {
  display: flex;
  text-align: left;
  font-size: 2rem;
  margin-top: 30px;
  margin-left: 1rem;
}

.mentor--konten {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.mentor--company {
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
}

.mentor--company--icon {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mentor--star {
  display: flex;
  flex-direction: row;
  margin-left: 0.3rem;
}

.mentor--star--icon {
  color: rgba(36, 193, 145, 0.7);
  font-size: 1.5rem;
  margin-right: 0.75rem;
  margin-left: 1rem;
}

.mentor--container--bawah {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 20rem;
}

.mentor--add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 20rem;
  background: rgba(36, 193, 145, 0.17);
  border-radius: 20px;
  padding: 0rem 0rem;
  border :none;
  color: #119ABE;
}

.add-text {
  align-self: center;
  color: #119ABE;
  margin-top: 0.88rem;
  margin-left: 0.4rem;
}
